*.egg-info

# EDITOR Configs
# PyCharm
.idea
# VS Code
.vscode

# Python specific files
*.pyc
*.pyo

# Generic files to ignore
*~
._*
*.lock
*.DS_Store
*.swp
*.out
*.patch
*.diff
*.empty
*.orig
*.noseids
*.cprof
.venv
venv
.coverage
.pip
coverage.xml
htmlcov
nosetests_*.xml
tags

storage
logs
redis-data
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
