{% include 'layout-master.html' %}
<script>
  $(document).ready(function () {
    $('#features').DataTable();
  })
</script>
    <div class="row">
        <div class="col-md-10 col-md-offset-1" style="margin-top: 20px;padding: 10px;">
                <div class="panel panel-default">
                        <div class="panel-heading">&nbsp;: {{ title }}</div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="features" class="display table table-striped">
                                    <thead>
                                         <tr>
                                            <th>#</th>
                                            <th>Client IP</th>
                                            <th>MicroService</th>
                                             <th>Client Name</th>
                                             <th>Error Message</th>
                                             <th>StackTrace</th>
                                             <th>Datetime</th>
                                         </tr>
                                    </thead>
                                    <tbody>
                                    {% for log in data %}
                                        <tr>
                                            <td> {{ loop.index }} </td>
                                            <td> {{ log["client_ip"] }} </td>
                                            <td> {{ log["service"] }} </td>
                                            <td> {{ log["client_id"] }} </td>
                                            <td> {{ log["error_message"] }} </td>
                                            <td> {{ log["stack_trace"] }} </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>       
        </div>
    </div>
    
</body>
</html>